.git
.gitignore
.venv
__pycache__
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
*.egg-info
.build
.dist
vendor
.env
.env.*

# systemd / local deploy artifacts
deploy

# tests are not needed at runtime image
tests
