# Changelog

{% set headings = {
  "breaking": "Breaking Changes",
  "feat": "Features",
  "feature": "Features",
  "fix": "Bug Fixes",
  "bugfix": "Bug Fixes",
  "bug fix": "Bug Fixes",
  "perf": "Performance Improvements",
  "performance": "Performance Improvements",
  "refactor": "Refactoring",
  "docs": "Documentation",
  "documentation": "Documentation",
  "deps": "Dependencies",
  "dependencies": "Dependencies",
  "security": "Security",
  "test": "Tests",
  "ci": "CI",
  "build": "Build",
  "chore": "Chores",
} %}

{% for rel in releases %}
## {{ rel["tag"] }}

{% for type_, commits in rel["elements"] | dictsort %}
{% set title = headings.get(type_, type_ | replace("_", " ") | title) %}
{% if commits %}
### {{ title }}

{% for commit in commits %}
- {{ commit.descriptions[0] }}
{% endfor %}

{% endif %}
{% endfor %}
{% endfor %}
